{{ define "main" }}

<p name="#top"><b>Posted on: {{ .Date.Format "2006 Jan 02" }}</b></p>

{{ .Content }}

<p style="text-align: right"><a href="#top">↑ Back to Top</a></p>

<div style="margin-top:3rem"></div>
<p>Contact me if you have any comments or questions about this aritcle.</p>
<p>Appriciate if you would like to support me if the article really helps you.
</p>
<iframe src="https://github.com/sponsors/Wsine/button" title="Sponsor Wsine" height="32" width="114" style="border: 0; border-radius: 6px; float: right"></iframe>

{{ end }}
