{{ define "main" }}

<!-- Welcome contents -->
{{ .Content }}

<!-- Telegram Widget -->
<!-- <h2>Latest Reading</h2> -->
<!-- <script id="telegram_post" async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-post="wsine_channel/2" data-width="100%" data-userpic="false" data-dark="0"></script> -->
<!-- <script> -->
<!--   const prefersDarkMode = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches; -->
<!--   if (prefersDarkMode) { -->
<!--     document.getElementById('telegram_post').setAttribute('data-dark', '1'); -->
<!--   } -->
<!-- </script> -->

<!-- Blog contents -->
<h2>Latest Articles</h2>
<ul>
{{ range (where .Site.RegularPages "Section" "posts").Limit 10 }}
  <li>
    <a href="{{ .RelPermalink }}" style="color: inherit">{{ .Title }}</a>
  </li>
{{ end }}
</ul>
<a href="/posts" style="text-decoration: none">→ Read more...</a>

{{ end }}
